<html lang="pt-br">
<%- include("./partials/head.ejs") %>

<body>
	<%- include("./partials/nav.ejs") %>

	<div>
		Página não encontrada :/
	</div>

	<%- include("./partials/footer.ejs") %>
</body>
</html>